{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 10 chrome major versions",
                        "last 10 firefox major versions",
                        "last 10 opera major versions",
                        "last 2 safari major versions",
                        "last 2 ios major versions",
                        "last 2 ie major versions",
                        "last 5 edge major versions"
                    ]
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}
